{% extends "base.html" %}
{% block title %}
| Student Details
{% endblock title %}
{% block content %}
<section>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-1"></div>

      <div class="col-sm-10">
        <div class="card">
          <div class="card-title bg-info text-center text-white">
            <h4 class="text-center mt-2">Regisetered Student List</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4">
                <a href="{% url 'add_student' %}" type="submit" class=" btn btn-warning btn-sm"
                  style="font-size: medium;"><i class="fas fa-plus"></i>
                  Register Student</a>
                <br>
                <br>
              </div>
            </div>
            {% if student %}
            <table class="table table-hover">
              <!--Table head-->
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Std</th>
                  <th>Roll Number</th>
                  <th>Class Teacher</th>
                  <th class="text-center">Action</th>

                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                {% for student in student %}
                <tr>
                  <td>{{ student.first_name }} {{ student.last_name }} </td>
                  <td>{{ student.std}} </td>
                  <td>{{ student.student_code}} </td>
                  <td>{{ student.std.class_teacher.name.first_name}} {{ student.std.class_teacher.name.last_name}} </td>
                  <td class="text-center">
                    <a href="{% url 'update_student' student.id %}" type="submit" class=" btn btn-warning btn-sm"><i
                        class="fas fa-edit"></i></a>
                    {% if user.is_superuser %}
                    <form action="{% url 'delete_student' student.id %}" method="POST" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                    </form>
                    {% endif %}
                </tr>
                {% endfor %}
              </tbody>
              <!--Table body-->

            </table>
            <!--Table-->
            {% else %}
            <div class="py-5">
              <h4 class="text-center alert alert-info"> No Records</h4>
            </div>
            {% endif %}
            <br>
            <div class="text-center">
              <a href="{% url 'dashboard' %}" type="submit" class=" btn btn-warning btn-sm"
                style="font-size: medium;"><i class="fas fa-sign-out-alt"></i>
                Go to dashboard</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <br>
  <br>
</section>
{% endblock %}